[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "==0.7.2"

[dev-packages]
pytest = "==8.3.2"
pre-commit = "==3.7.0"

[requires]
python_version = "3.11"

[scripts]
format = "pre-commit run --all-files"
